<html>
  <head>
    <title>Daniel's blog</title>
  </head>
  <body>
    <div>
      <h1><a href="">Django Girls Blog</a></h1>
    </div>

    <div>
      <p>published: June 24th, 2017</p>
      <h2><a href="">My first post</a></h2>
      <p>This is an example of a <strong>first</strong> blog post</p>
    </div>


    <div>
      <p>published: June 25h, 2017</p>
      <h2><a href="">My second post</a></h2>
      <p>This is an example of a <strong>second</strong> blog post</p>
    </div>
  </body>
</html>
